*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  background-color: $color-primary;
  font-family: "Montserrat", sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}


//   font-family: "Bebas Neue", sans-serif;