@mixin btn {
  padding: 10px 20px;
  border-radius: .5rem;
  font-size: clamp(1.8rem, 2vw, 2rem);
  font-weight: bold;
  margin: 0 auto;
  letter-spacing: .1rem;
  color: $color-secondary;
  background-color: $color-light;
  border: 1px solid $color-dark;
  cursor: pointer;
  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
  }
}

@mixin flex($direction: row, $justify: null, $align: null, $gap: null) {
  display: flex;
  @if $direction != row {
    flex-direction: $direction;
  }
  @if $justify != null {
    justify-content: $justify;
  }
  @if $align != null {
    align-items: $align;
  }
  @if $gap != null {
    gap: $gap;
  }
}