@import "../../sass/main.scss";

.dataTable {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1600px;

  &_header {
    display: flex;
    justify-content: space-between;
    &_length {
      label {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
        font-size: clamp(1.6rem, 1.6vw, 1.6rem);
      }
    }
    &_search{
      margin-left: auto;
    }
  }

  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    text-align: left;
    width: 100%;

    thead,
    tfoot {
      background-color: $color-secondary;
      color: $color-light;
      font-size: clamp(1.8rem, 2vw, 2rem);
    }

    th,
    td {
      border: 1px solid $color-dark;
      padding: 8px 10px;
    }

    thead {
      tr {
        font-size: clamp(1.8rem, 2vw, 2rem);
      }
    }

    tbody {
      tr {
        font-size: clamp(1.8rem, 1.8vw, 1.8rem);
      }

      & > tr:nth-of-type(even) {
        background-color: rgba(160, 160, 160, 0.225);
      }
      & > tr:hover {
        background-color: #157847bd;
        color: $color-light;
      }
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.6rem, 1.6vw, 1.6rem);

    &_btn {
      display: flex;
      gap: 1rem;
      button {
        @include btn;
      }
    }
  }
}
